.imageUpload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
  /* position: fixed;
  bottom: 0; */
  background: #fff;
  /* border-top: 1px solid lightgray; */
}

.imageUpload__progress {
  width: 100%;
}
